body {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  background-color: #8F57FD;
  background-image: url("assets/fondo_login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.flex {
  display: flex;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  top: 0;
}

.header__img {
  width: 25vw;
  min-width: 160px;
  max-width: 180px;
  margin-top: 10px;
  margin-left: 10px;
}

.header__menu {
  margin-right: 60px;
}

.header__menu ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0px 0px 0px -14px;
}

.header__menu:hover ul, ul:hover {
  display: block;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
}

.header__menu--profile p {
  margin: 0px;
  color: white;
}

.main {
  color: white;
  font-size: 25px;
}

.main__title {
  color: white;
  font-size: 25px;
  position: absolute;
  padding-left: 30px;
  width: 100%;
}

.login {
  /*  background: linear-gradient(#21c08b, #ab88ff);*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 20px;
  min-height: calc(100hv - 200px);
}

.login__container {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  padding: 5px 38px 10px;
  min-height: 500px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.login__container-form {
  display: flex;
  flex-direction: column;
}

.login__container--form label {
  font-size: 14px;
}

.login__container--remember-me {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login__container--remember-me a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.login__container--remember-me a:hover {
  color: white;
  font-size: 14px;
  text-decoration: underline;
}

.login__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.login__container--social-media > div > img {
  width: 30px;
  margin-right: 10px;
}

.login__container--register {
  font-size: 14px;
}

.login__container--register a {
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.login__container--register a:hover {
  text-decoration: underline;
}

.input {
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  font-size: 16px;
  font-family: "Muli", sans-serif;
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
  height: 50px;
  color: white;
}

::placeholder {
  color: white;
}

.button {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "Muli", sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
  width: 300px;
}

.button:hover {
  background: rgba(255, 255, 255, 0.7);
}

.footer {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.categories__title {
  color: white;
  font-size: 16px;
  position: absolute;
  padding-left: 30px;
  width: 100px;
}

.carousel {
  width: 100%;
  overflow: scroll;
  padding: 30px;
  position: relative;
}

.carousel__container {
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
}

.carousel-item {
  background-color: red;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms;
  transform-origin: center left;
  position: relative;
}

.carousel-item:hover ~ {
  transform: translate(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}

.carousel-item_img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.carousel-item_details {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  font-size: 10px;
  opacity: 1;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .body {
    background-repeat: repeat;
    background-size: cover;
  }

  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
    height: 700px;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
    position: relative;
  }
}

/*# sourceMappingURL=style.css.map */
